$white: #ffffff;
$black: #272626;
$coral: coral;
$primary-color: #61a5c2;
$primary-hover: #89c2d9;
$primary-medium: #89c2d9;



// $font-family: 'poppins', sans-serif;
$font-family: "Inter Tight", sans-serif;
$font-size-base: 17px;


$secondary-color: #5f6061;
$text-primary: #272626;
$text-secondary: #000000;
$border-color: #e2e8f0;
$success-color: #10b981;
$background-gradient: linear-gradient(135deg, #87ea66 0%, #764ba2 100%);
$card-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
$border-radius: 16px;
$transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

