<header>
    <nav class="navbar">
        <div class="logo">
            <a href="">LOGO</a>
        </div>
        <ul class="nav-links">
            <li><a href="/froid-expert/" class="active">Accueil</a></li>
            <li><a href="/froid-expert/About">A propos</a></li>
            <li><a href="/froid-expert/Devis">Devis</a></li>
            <li><a href="/froid-expert/Services">Services</a></li>
            <li><a href="/froid-expert/Contact">Contact</a></li>

        </ul>

        <div class="burg">
            <span class="span1"></span>
            <span class="span2"></span>
        </div>
        <div class="mobile-menu">

            <ul class="nav-links">
            <li><a href="/froid-expert/" class="active">Accueil</a></li>
            <li><a href="/froid-expert/About/">A propos</a></li>
            <li><a href="/froid-expert/Devis/">Devis</a></li>
            <li><a href="/froid-expert/Services/">Services</a></li>
            <li><a href="/froid-expert/Contact/">Contact</a></li>
            </ul>

        </div>
    </nav>
</header>